*{
    margin: 20px;
    padding: 0%;
}

#picture{
    border-color: black;
    border-radius: 100px;
    height: 200px;
    width: 200px;
    vertical-align: text-top;
}

#main{
    text-align: center;
}


